.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-top: 10px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
}

.middleWrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

.bottomWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

button {
  background: none;
  border: 2px solid #00FF66;
  border-radius: 5px;
  padding: 10px 40px;
  font-size: 1rem;
  color: #00FF66;
  font-weight: bold;
  font-family: Roboto Mono, sans-serif;
  cursor: pointer;
  margin: 8px;
}

button:hover {
  background-color: rgba(0,255,102,0.2);
  transition: all .5s ease;
  transform: scale(1.2);
}

.title:hover {
  transition: all .5s ease;
  transform: scale(1.1);
}

h1 {
  font-size: 1rem;
  border-bottom: 2px solid #00FF66;
  width: 75%;
}

h2 {
  font-size: .8rem;
}

.bottomWrapper > h2:hover {
  transition: all .5s ease;
  transform: scale(1.2);
}

.bottomWrapper h2 {
  margin-bottom: 50px;
}

.bottomWrapper button {
  margin-top: 25px;
}

/* media queries */
@media (orientation: landscape) {
  .card-grid {
    display: grid;
    width: 35%;
    margin-top: 10px;
  }
}

@media (orientation: portrait) {
  .title {
    margin: 20px;
  }
  .title:hover {
    transition: none;
    transform: none;
  }
  h1 {
    border: none;
  }
  button:hover {
    background-color: #010101;
    transition: none;
    transform: none;
  }
  .bottomWrapper > h2:hover {
    transition: none;
    transform: none;
  }
  .card-grid {
    display: grid;
    margin-bottom: 10px;
    width: 85%;
  }
}
