@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* base styles */
body {
  font-family: Roboto Mono, sans-serif;
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
  color: #00FF66;
  background: #010101;
  height: 100%;
}
